<%- include('../partials/header.ejs') %>

<h2>All Posts</h2>
<ul>
    <% posts.forEach(posts => { %>
        <li>
            <a href="/posts/<%= posts._id %>"><%= posts.title %></a>
        </li>
    <% }) %>
</ul>

<%- include('../partials/footer.ejs') %>